@font-face {
	font-family: myHultog;
	src: url(font/Hultog.ttf);
  
  }
  
  @font-face {
	font-family: myHultogCoursive;
	src: url(font/HultogItalic.ttf);
   
  }
  
  
  @font-face {
	font-family: myCaps;
	src: url(font/GoudyInitialen.ttf);
   
  }

#ArticleBody {
	color: #4a433e;
    min-height:100% !important;
	padding-top: 200px;
	padding-bottom: 320px;
	padding-left: 120px;
	padding-right: 120px;	
	font-size: 13pt;
	font-family: myHultogCoursive !important;
	text-align: justify;
	line-height: 1.5;
	background-image: url("img/book.jpg") !important;
	background-position: center;
	background-repeat: repeat;
}


#ArticleBody h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: myHultogCoursive;
    font-size: 34pt;
	letter-spacing: 6px;
}

#ArticleBody h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 21pt;
	font-family:  myHultog !important;
	padding-bottom: 20px;
}
#ArticleBody h3, #ArticleBody h4, #ArticleBody h5 {font-family:  myHultogCoursive;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}

#CoverWrapper {
	font-family: myHultog !important;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5;
	font-size: 23pt;
	font-family:  myHultog;
	padding-bottom: 125px;
}
#Articlebody img {
    max-width: 100%;
    max-height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border:2px solid;
	margin-top: 15px;
    margin-bottom: 15px;
}

#Articlebody p.pubnote {
	font-family: myHultogCoursive;
	font-size:21pt;
	padding-bottom:10px;
}

#Credits > p:first-of-type::first-letter, #Summary > p:first-of-type::first-letter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 90pt;
	line-height: 65px;
	padding-top: 20px;
	padding-right: 6px;
}
#Articlebody figcaption {
	font-size: 10pt;
	text-align: center;
	line-height: 1.5;
    padding: 5px;
}

#Articlebody th {border: 1px solid #4a433e;
	font-size: 15pt;
	text-transform: uppercase;
	padding: 10px;

}


#Articlebody td {border: 1px solid #4a433e;
	padding: 10px;
}


#Articlebody tr{
	border: 1px solid #4a433e;
}


#Articlebody table {border: 4px solid;
	margin-bottom: 25px;
	margin-top: 25px;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	color: #4a433e;
	border-spacing: 1px;
	border-collapse: separate;
}

