@font-face {
	font-family: myHultog;
	src: url(font/Hultog.ttf);
  
  }
  
  @font-face {
	font-family: myHultogCoursive;
	src: url(font/HultogItalic.ttf);
   
  }
  
  
  @font-face {
	font-family: myCaps;
	src: url(font/GoudyInitialen.ttf);
   
  }

#file {
	color: #4a433e;
	padding-top: 150px;
	padding-bottom: 260px;
	padding-left: 150px;
	padding-right: 150px;	
	font-size: 15pt;
	font-family: myHultog;
	text-align: justify;
	line-height: 1.5;
	background-image: url("img/book.jpg");
	background-position: center;
	background-repeat: repeat;
}


#file h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: myHultog;
    font-size: 26pt;
	letter-spacing: 6px;
}
#file h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 22pt;
	font-family:  myHultogCoursive;
	padding-bottom: 20px;
}
#file h3, #file h4, #file h5 {font-family:  myHultog;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}

#CoverWrapper {
	font-family: myHultogCoursive;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5;
	font-size: 22pt;
	padding-bottom: 125px;
}
#file img {
    max-width: 100%;
    max-height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border:2px solid;
	margin-top: 15px;
    margin-bottom: 15px;
}

#file p.pubnote, #file #footerWrapper {
	font-family: myHultogCoursive;
	font-size:13pt;
	padding-bottom:10px;
}
#file .label {
	font-family: myHultogCoursive;
	text-transform: uppercase;
}
#Credits > p:first-of-type::first-letter, #Summary > p:first-of-type::first-letter, #ContentWrapper .myFirstletter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 90pt;
	line-height: 90px;
	padding-top: 20px;
	padding-right: 6px;
}
#file figcaption {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.5;
    padding: 5px;
}

#file th {
	border: 1px solid #4a433e;
	text-transform: uppercase;
	padding: 10px;

}


#file td {
	border: 1px solid #4a433e;
	padding: 10px;
}


#file tr{
	border: 1px solid #4a433e;
}


#file table {border: 4px solid;
	margin-bottom: 25px;
	margin-top: 25px;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	color: #4a433e;
	border-spacing: 1px;
	border-collapse: separate;
	font-size:0.9em;
}
#file a {
	color: #4a433e;
	font-family: myHultogCoursive;
}

	#file a:hover {
		color: #4a433e;
		font-family: myHultog;
	}



@media screen and (min-width: 1278px) {
	#file {
		padding-top: 200px;
		padding-left:200px;
		padding-right: 200px;
		padding-bottom: 340px;
	}
	#CoverWrapper {
		padding-bottom: 156px;
	}
}


@media screen and (max-width: 768px) {
	#file {
		padding-top: 100px;
		padding-bottom: 170px;
		padding-left: 100px;
		padding-right: 100px;
		font-size: 13pt;
	}
		#file h1 {
			font-size: 22pt;
			letter-spacing: 4px;
		}
		#file h2 {
			letter-spacing: 7px;
			font-size: 17pt;
		}
		
		#file h3, #file h4, #file h5 {
			letter-spacing: 7px;
			font-size: 13pt;
		}
	#CoverWrapper {
		font-size: 17pt;
		padding-bottom: 83px;
	}
	#Credits > p:first-of-type::first-letter, #Summary > p:first-of-type::first-letter, #ContentWrapper .myFirstletter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
		font-size: 60pt;
		line-height: 60px;
		padding-right: 6px;
	}

	#footerWrapper, #file p.pubnote, #file .myPubnote {
		font-size: 10pt;
	}
}