@font-face {
	font-family: myFha;
	src: url(font/FhaNicholsonFrench.ttf);
  }
@font-face {
	font-family: myFhaCondensed;
	src: url(font/FhaCondensedFrench.ttf);
  }
@font-face {
    font-family: myBodoni;
	src: url(font/BodoniFLF-Roman.ttf);
}
@font-face {
    font-family: myBodoniCondensed;
	src: url(font/bod_cr.ttf);
}

#file figure {
    margin-top: 10px;
    margin-bottom:5px;
    display: block;
    margin-left:10px;
    margin-right:10px;
    }
#file img {
    filter:sepia(90%) opacity(70%);
    width:100%;
    height:auto;;
}
    
    
#file {
    padding: 30px; 
    background-image: url("img/newspaper2.jpg");
    text-align: justify;
    -webkit-column-count: 3; /* Chrome, Safari */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari */
    column-gap: 20px;
    -webkit-column-rule: 1px solid; /* Chrome, Safari */
    column-rule: 1px solid;
    color: #2b1d0e;
    font-family: myBodoni;
    font-size: 13pt;
}

#file h1 {
    font-family: 'myFha';
    font-size: 15pt;
    margin-bottom: 5px;
    text-align: left;
    letter-spacing: 1.5px; 
}
#file h2 {
    font-family: 'MyFhaCondensed';
    text-transform: uppercase;
    text-align: center;
    font-size:15pt;
    padding-top:10px;
    padding-bottom:10px;
}
#file h3, #file h4, #file h5 {
    font-family: 'MyBodoniCondensed';
    font-size: 15pt;
    letter-spacing: 1.5px; 
    text-transform: uppercase;
    text-align:center;
}
  
#CoverWrapper {
    border-bottom: 1px solid #2b1d0e;
    font-family: 'MyBodoniCondensed';
    font-size: 15pt;
    letter-spacing: 1.5pt; 
    text-transform: uppercase;
    margin-bottom: 10px;
}
#CoverWrapper p {
    display:inline;
    padding-right: 8px;
}
#ContentWrapper {
    line-height: 0.9;
    word-break: break-all;
    hyphens: auto;
 }

 #ContentWrapper p{
    margin: 0px;
    text-indent: 1em;
  }
#ContentWrapper p:first-of-type{
    text-indent: 0em;
}
#Credits > p:first-of-type::first-letter, #Summary > p:first-of-type::first-letter, #ContentWrapper .myFirstletter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
    font-size: 30pt;
    float:left;
    line-height: 30px;
    padding-right: 5px;
  }

#file .label {
    text-transform: uppercase;
    font-family: myFhaCondensed;
}
#file table {
    margin-top:15px;
    margin-bottom:15px;
    font-family: myBodoniCondensed;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    border-color: #241B12;
    word-break: break-word;
    hyphens: auto;
    margin-left: auto;
    margin-right: auto;
    }
  
  
#file th {
    border: 1px solid;
    border-color: #241B12;
    font-size: 15pt;
    text-transform: uppercase;
    padding: 5px;
  }
  
#file td {
    border: 1px solid;
    border-color: #241B12;
    padding: 5px; 
    text-transform: uppercase;
    font-size: 11pt;
    text-align: left;
    letter-spacing: 3px;
  }
  
#file table caption {
    padding-top:10px;
    padding-bottom:10px;
}  
#file figcaption {
    font-family: myBodoniCondensed;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #241B12;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

#file .myPubnote, #file #footerWrapper {
font-family: myBodoniCondensed;
margin-top: 15px;
margin-bottom: 15px;
}
#file .myPubnote p, #file #footerWrapper p {
    margin:0px;
}
#file a {
    color: #241B12;
    font-family: myBodoniCondensed;
}
#file a:hover {
    color: #241B12;
    font-size: 1.2em;
}
 
@media screen and (min-width: 1279px) {
   #file {
    -webkit-column-count: 4; /* Chrome, Safari */
    column-count: 4;
   }
}

@media screen and (max-width: 768px) {
    #file {
    padding:18px;
    font-size:12pt;
    word-break: break-all;
    hyphens: auto;
    padding: 24px;
    }
    #file h1, #file h2, #file h3, #file h4, #file h5, #file th {
        font-size: 13pt;
    }

    #Credits > p:first-of-type::first-letter, #Summary > p:first-of-type::first-letter, #ContentWrapper .myFirstletter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
        font-size: 24pt;
        line-height: 24pt;
    }
    #file table caption {
        padding-top:5px;
        padding-bottom:5px;
    } 

    #file figure {
        margin-left:5px;
        margin-right:5px;
    }
    #file figcaption {
        padding-top:8px;
        padding-bottom: 8px;
        margin-top: 5px;
        margin-bottom: 5px
    }
 }

@media screen and (max-width: 480px) {
    #file {
        min-width:760px;
        padding:13px;
        overflow-x:scroll;
    }
 }