@font-face {
	font-family: myHultog;
	src: url(font/Hultog.ttf);
  
  }
  
  @font-face {
	font-family: myHultogCoursive;
	src: url(font/HultogItalic.ttf);
   
  }
  
  
  @font-face {
	font-family: myCaps;
	src: url(font/GoudyInitialen.ttf);
   
  }

#file {
	color: #4a433e;
	padding-top: 150px;
	padding-bottom: 260px;
	padding-left: 150px;
	padding-right: 150px;	
	font-size: 15pt;
	font-family: myHultog;
	text-align: justify;
	line-height: 1.5;
	background-image: url("img/book.jpg");
	background-position: center;
	background-repeat: repeat;
}


#file h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: myHultogCoursive;
    font-size: 26pt;
	letter-spacing: 6px;
	padding-bottom: 1.7em;
}
#file h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 22pt;
	font-family:  myHultog;
	padding-top: 1em;
	padding-bottom: 1.7em;
}
#file h3, #file h4, #file h5 {font-family:  myHultogCoursive;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}

#file ul {
    list-style: upper-roman;
    list-style-position: inside;
}

#file img {
    max-width: 100%;
    max-height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border:2px solid;
	margin-top: 1em;
    margin-bottom: 1.7em;
}


#file figcaption {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.5;
    padding: 5px;
}

#file th {
	border: 1px solid #4a433e;
	text-transform: uppercase;
	padding: 10px;

}


#file td {
	border: 1px solid #4a433e;
	padding: 10px;
}


#file tr{
	border: 1px solid #4a433e;
}


#file table {border: 4px solid;
	margin-bottom: 1em;
	margin-top: 1.7em;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	color: #4a433e;
	border-spacing: 1px;
	border-collapse: separate;
	font-size:0.9em;
}
#file a {
	color: #4a433e;
	text-decoration:none;
}

	#file a:hover {
		color: #4a433e;
		text-decoration:underline;
	}
#ArticleBody a {
	text-decoration:underline;
}
#ArticleBody a:hover {
	text-decoration: none;
}

#CoverWrapper {
	font-family: myHultog;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5;
	font-size: 22pt;
	padding-bottom: 88px;
}

#footerWrapper, #file .myPubnote {
	padding-left: 88px;
	padding-right: 88px;
	font-family: myHultogCoursive;
	font-size:13pt;
	padding-bottom:52px;
}

#file .label {
	font-family: myHultogCoursive;
	text-transform: uppercase;
}
#ContentWrapper .myFirstletter, #ContentWrapper h2 + p::first-letter, #ContentWrapper h2 ~ p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 90pt;
	line-height: 90px;
	padding-top: 20px;
	padding-right: 6px;
}

/* COVER */

#IssueCover {
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-transform:uppercase;
	font-size:22pt;
}
#IssueCover h1 {
	padding:0em;
	font-family:myHultog;
	font-size:1.7em;
}
.ArticleInfo {
	text-align: center;
	line-height: 1.5;
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase;
}

	.ArticleInfo:first-of-type {
		padding-top:1em;
	}
	.ArticleInfo p:not(.coverLabel) {
		display: none;
	}

.IssueBibliographicCitation {
	font-family:myHultogCoursive;
	order:99;
	text-align: center;
	margin-bottom: 0;
}

	.IssueBibliographicCitation::before {
		content: "";
		background-image: url("img/durer_incisione.jpg");
		background-size: 100% 100%;
		filter: sepia(1);
		-webkit-filter: sepia(1);
		display: block;
		height: 440px;
		width: 300px;
		margin-top: 3.4em;
		margin-bottom: 1.7em;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #4a433e;
	}
	/* DISCLAIMER */
	#disclaimer ul {
		list-style-position:outside;
		word-break:break-word;
	}

	@media screen and (min-width: 1278px) {
		#file {
		padding-top: 200px;
		padding-left:200px;
		padding-right: 200px;
		padding-bottom: 340px;
	}
	#file .myPubnote, #file #footerWrapper {
		padding-left:118px;
		padding-right:118px;
		padding-bottom: 69px;
	}
	#CoverWrapper {
		padding-bottom: 118px;
	}
}


@media screen and (max-width: 768px) {
	#file {
		padding-top: 100px;
		padding-bottom: 170px;
		padding-left: 100px;
		padding-right: 100px;
		font-size: 13pt;
	}

		#file h1 {
			font-size: 22pt;
			letter-spacing: 4px;
		}

		#file h2 {
			letter-spacing: 7px;
			font-size: 17pt;
		}

		#IssueCover {
			font-size: 17px;
		}

		#file h3, #file h4, #file h5 {
			letter-spacing: 7px;
			font-size: 13pt;
		}

	#CoverWrapper {
		font-size: 17pt;
		padding-bottom: 59px;
	}

	#ContentWrapper .myFirstletter, #ContentWrapper h2 ~ p:first-of-type::first-letter, #ContentWrapper h2 + p::first-letter {
		font-size: 60pt;
		line-height: 60px;
		padding-right: 6px;
	}

	#file #footerWrapper, #file .myPubnote {
		padding-left: 59px;
		padding-right: 59px;
		padding-bottom: 35px;
	}
	#file th, #file td {
		padding:7px;
	}
	.IssueBibliographicCitation::before {
		height: 220px;
		width: 150px;
	}
}
@media screen and (max-width: 480px) {
	#file {
		padding-top: 59px;
		padding-bottom: 100px;
		padding-left: 59px;
		padding-right: 59px;
	}

	#file th, #file td {
		padding:2px;
	}
	#CoverWrapper {
		padding-bottom: 35px;
	}
	#file #footerWrapper, #file .myPubnote {
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 21px;
	}
}

